*.a
*.orig
*.so
.obj/
build/
unicode/
.idea
cmake-*
.vs
out/
CMakeUserPresets.json
fuzz
.vscode/
microbench*.txt
iridium.c 
iridium2.cpp
iridium3.cpp
iridium5.cpp
iridium_vec.cpp
optimise.cpp 
cutil
temp
